$RalewayFont: 'Raleway', sans-serif;
$globalFont: $RalewayFont;

$primary-light: #2d5452;
$primary-main: #223D3C;

$color-grey: rgb(126, 136, 143);
$color-grey-light: rgb(218, 222, 227);

$label: rgb(145, 158, 171);

$bright-color: #FFFFFF;
$black-color: #000000;
$header-color: #F19A3E;


$font-size-paragraph: 16px;
$font-size-header: 28px;
