@import "../../styles/variables";
@import "../../styles/mixins";

.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        margin-bottom: 20px;
        max-width: 370px;
        max-height: 300px;
    }
}